<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link  type="text/css" rel="stylesheet" href="{% static 'css/form_design.css' %}">

</head>
<body>
{% include 'navigation.html'%}
<div class="form-box">
 <form class="input-group" method ="post" action="/userpasswordchange">
     {% csrf_token %}
      <label>Current password</label><br>
     <input type="password" class="input-field" name="current_password" required="True" ><br>
      <label>New password</label><br>
     <input type="password" class="input-field" name="password1" required="True" ><br>
       <label> Confirm New password</label><br>
     <input type="password" class="input-field" name="password2" required="True" ><br>

     <input type="submit"   class="submit-btn" value="Change password">
 </form>
</div>

</body>
</html>