<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%  static 'css/footer.css'%}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="footer">
    <div class="about-company">
        <h1>Job Portal</h1>
        <p>Job Portal is a leading search engine,search for and apply for thousands of job online-right here on Job Portal.Save your career information.Let companies find you without a hassle.</p>
        <div class="icons"><i class=" fa fa-facebook"></i>
        <i class=" fa fa-whatsapp"></i>
        <i class="fa fa-twitter"></i></div>
    </div>
    <div class="company">
        <h2>Company</h2>
        <ul>
            <li>Goverment JObs</li>
            <li>Amazon</li>
            <li>Infosys </li>
            <li>Infosys </li>
            <li>Infosys </li>
        </ul>
    </div>
    <div class="resource">
        <h2>Resource</h2>
        <ul>
            <li>Terms and condition</li>
         </ul>
    </div>

</div>

</body>
</html>