<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/job_list.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>jobportal</title>
     {% include 'candidate_nav.html'%}

</head>
<body>




<section class="jobs_list">
    <div class="job_list_portion">

    <div class="container">
        <h1>NEW JOBS </h1>
        <hr>
    </div>
    <div class="search1" style="margin-left:230px;">
		<div class="searching1">
			<form  method="post" action="{% url 'searched_job'%}" >
				{% csrf_token %}
				<input type="text" class="searchbox" style="margin-left:150px;" name="job_name" placeholder="Search by job title" />
				<input type="text" class="searchbox" name="loc_name"  placeholder="Search by location" />

				<label class ="fa fa-search"><button type="submit" ></button></label>
            </form>
	  </div>
    </div>
      {% for i in venues %}
    <div class="company-details1">
        <div class="d_l">
         <div class="c_logo">
             <img src="{{i.company_logo.url}}">
         </div>
         <div class="job-update1">

             <h1>{{i.title }}</h1>
             <p class="company-name">{{i.company_name}}</p>
             <i class="fa fa-briefcase"></i><span>{{i.experience}}</span><br>
             <i class="fa fa-inr"></i><span>{{i.salary}}</span><br>
             <i class="fa fa-map-marker"></i><span>{{i.location}}</span><br>
             <p>Skills<i class="fa fa-angle-double-right"></i>
                 <small>{{i.skills}}</small></p>
             <p>Description<i class="fa fa-angle-double-right"></i> ...............<a href="{% url 'job_details' i.id %}">Read more</a></p>
         </div>
        </div>

        <div class="apply-btn3">

                <a href="{% url 'job_details' i.id %}" ><button type="button" >Apply</button></a>

       </div>

    </div>
        {% endfor %}

       {% if venues.has_other_pages %}

        <ul class="pagelink">
            {% if venues.has_previous %}
            <li class="left-arrow" ><a href="?page={{venues.previous_page_number}}">&#8592</a></li>


          {% endif %}
           {% for i in venues.paginator.page_range %}
            {% if venues.number == i %}
              <li class="active">{{i}}</li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
             {% endif %}

           {% endfor %}
         {% if venues.has_next %}
            <li class="right-arrow" ><a href="?page={{venues.next_page_number}}">&#8592</a></li>

            {% endif %}

     </ul>
        {% endif %}

    </div>
</section>

{% include 'footer.html'%}

</body>